# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/

# PyInstaller
build/
dist/
*.spec

# Archivos temporales
temp/
*.tmp
*.log

# Configuraciones personales
configuraciones.json
flujos.json

# Backup
backup/

# IDE
.vscode/
.idea/
*.swp
